torch --index-url https://download.pytorch.org/whl/cpu
faiss-cpu
sentence-transformers
scikit-learn
pandas
flask
kagglehub
python-dotenv
huggingface_hub
pymongo[srv]
flask-bcrypt
flask-jwt-extended
google-auth
certifi
