.searchWrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

#ghostText {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: gray;
  pointer-events: none;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  z-index: 0;
}

.searchInput {
  position: relative;
  z-index: 1;
  background: transparent;
}

.suggestions-list {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #ddd;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  z-index: 999;
}

.suggestions-list li {
  padding: 10px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #eee;
}

.did-you-mean {
  margin-top: 10px;
  font-size: 16px;
  color: #555;
}
/* Default hidden */
.filter-menu {
  display: none;
  position: absolute;
  top: 60px;
  left: 10px;
  background-color: white;
  z-index: 1000;
  padding: 20px;
  max-height: 80vh;
  overflow-y: auto;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Show when toggled */
.filter-menu.show {
  display: block;
}
