<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MovieRec</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap" rel="stylesheet">
</head>

<body>
  <div class="title" style="cursor: pointer;" onclick="window.location.href='/';">MovieRec</div>
  <div class="searchBar">
    <input type="text" class="searchInput" placeholder="Can't find it? Try 'MovieName (Year)'" />

    <button class="okbtn">
      <img src="{{ url_for('static', filename='icons/search_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg') }}"
        alt="search icon" /> </button>
  </div>

  <div id="sortControls" class="sort-controls hidden">
    <span class="toggle-switch-container" style="margin-right: 20px;">
      Strict Genre Match
      <label class="toggle-switch">
        <input type="checkbox" id="strictGenreToggle">
        <span class="toggle-slider"></span>
      </label>
    </span>
    <span class="toggle-switch-container" style="margin-right: 20px;">
      Similarity
      <label class="toggle-switch">
        <input type="checkbox" id="qualitySortToggle">
        <span class="toggle-slider"></span>
      </label>
      Quality
    </span>
    <span class="toggle-switch-container">
      TMDB API (Live)
      <label class="toggle-switch">
        <input type="checkbox" id="tmdbApiToggle">
        <span class="toggle-slider"></span>
      </label>
    </span>
  </div>

  <div id="results" class="results-container"></div>
  <div id="loadingOverlay"
    style="display:none; position:fixed; top:0; left:0; width:100vw; height:100vh; background:rgba(255,255,255,0.7); z-index:9999; align-items:center; justify-content:center;">
    <div class="spinner"></div>
  </div>

  <script>
    window.TMDB_API_KEY = "{{ tmdb_api_key }}";
    window.TMDB_API_BASE = "{{ tmdb_api_base }}";
  </script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>